body {
    text-align: center;
    background-color: #356858;
}

h1 {
    font-family: Monoton;
    font-size: 70px;
    margin: 0.2em;
}

h2 {
    margin: 1em 0 0.25em;
    color: #41cca4;
}

h2:first-of-type {
    margin-top: 0.5em;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

tr {
    height: 20px;
}

td {
    width: 20px;
}

input[type=number] {
    width: 6em;
    cursor: pointer;
    border: 2px solid #f2934b;
    border-radius: 6px;
}

table,
tr,
td {
    border: 1px solid black;
    cursor: pointer;
}
input[type=submit] {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    outline: none;
    cursor: pointer;
    background-color: #e87f30;
    border: 1px solid #e87f30;
    border-radius: 6px;
    display: inline-block;
    box-shadow: 4px 4px 3px 0px rgba(0, 0, 0, 0.4);
}
input[type=submit]:hover {
    opacity: 0.9;
    background-color: #cc6518;
}
input[type=submit]:active {
    background-color: #cc6518;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
input[type=color] {
    cursor: pointer;
}